@{
    ViewData["Title"] = "CWT Reporting Backend";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This product is licensed to: Sri Lanka Telecom PLC. <br>
    Warning: Unauthorized reproduction or destribution of this program, or any part of it or any components
    related to this program is strictly prohibited. <br>
    <small>Copyright © Epic Lanka Private Limited 2023 - 2028 </small>
</p>